/* Header */
header {
  background-color: #fff;
  box-shadow: 0 0 0px rgba(0,0,0,0.1);
  margin-bottom: -70px; /* Mengurangi margin bawah header agar mepet ke atas */
}

.slider-container {
  margin-top: -50px; /* Mengurangi margin atas slider agar mepet ke atas */
  margin-bottom: -30px; /* Mengurangi margin bawah slider agar mepet ke bawah */
}

/* Main */
main {
  padding: 20px; /* Atur padding: atas kanan bawah kiri */
}

/* Drivers */
.drivers {
  margin-top: -20px; /* Mengurangi margin atas drivers agar mepet ke atas */
  margin-bottom: -50px; /* Mengurangi margin bawah slider agar mepet ke bawah */
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.slick-slider { 
  width: 100%; /* Use width for true full-width responsiveness */
      position: relative; /* Tambahkan posisi relatif agar .slick-dots dapat diposisikan secara absolut */

}



.slick-dots {
  position: absolute; /* Posisikan .slick-dots secara absolut */
  bottom: 10px; /* Sesuaikan posisi vertikal, misalnya ke bawah sejauh 10px */
  left: 0; /* Posisikan ke kiri */
  right: 0; /* Posisikan ke kanan */
  display: flex; /* Menggunakan display flex untuk mengatur posisi */
  justify-content: center; /* Mengatur posisi titik berada di tengah */
  list-style: none; /* Menghilangkan default styling dari titik */
  padding: 0; /* Hilangkan padding */
  margin: 0; /* Hilangkan margin */
}




.slick-slider img { 
  width: 100%; 
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Fill the space nicely */
}

.search-bar {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 100vw;
      margin-bottom: 0;
      padding: 4px 0;
      margin-left: 4px;
      margin-right: 4px;
      overflow: visible;
    }
.search-bar input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

/* Main */
main {
  padding: 0 20px 0 20px; /* Atur padding: atas kanan bawah kiri */
}



.drivers h2 {
  margin-bottom: 10px;
      font-size: 17px; /* Atur ukuran font sesuai kebutuhan Anda */

}

.driver-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr)); 
  grid-gap: 1px; 
}

.driver-card {
  padding: 1px;
  border: 0px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 2px; 
}

.driver-card img {
  width: 100%; 
  max-width: 50px; 
  height: auto; 
}

.driver-card h3 {
  margin-bottom: 2px;
  font-size: 10px; 
      font-weight: normal; /* Mengatur font weight menjadi normal */

}

.driver-card p {
  margin-bottom: 0;
}

/* Food Menu */
.food-menu {
  margin-bottom: 20px;
}

.food-menu h2 {
  margin-bottom: 10px;
      font-size: 17px; /* Atur ukuran font sesuai kebutuhan Anda */

}

.filter-bar {
  margin-bottom: 10px;
}

.filter-bar select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Menu Grid */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); 
  grid-gap: 10px;
}

/* Menu Item */
.menu-item {
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.menu-item img {
  max-width: 100%; 
  height: auto; 
  border-radius: 5px;
  margin-bottom: 5px; 
}

.menu-item h3 {
  margin-bottom: 5px;
  font-size: 12px; 
      font-weight: normal; /* Mengatur font weight menjadi normal */

}

.menu-item p {
  margin-bottom: 0;
  font-size: 12px; 
}/* Footer */
footer {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}