/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.slick-slider {
  overflow: hidden;
  position: relative; /* Menjadikan posisi absolut untuk slider */
  top: 0; /* Meletakkan slider di bagian atas header */
  left: 0;
  right: 0;

}

.slick-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-bar {
  padding: 10px;
  background-color: #f5f5f5;
  margin-top: 1px; /* Memberikan margin atas agar search-bar berada di bawah slider */
}
.search-bar input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Main */
main {
  padding: 20px;
}

/* Drivers */
.drivers {
  margin-bottom: 20px;
}

.drivers h2 {
  margin-bottom: 10px;
}

.driver-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr)); /* Menggunakan 6 kolom dengan lebar yang fleksibel */
  grid-gap: 1px; /* Menambahkan jarak antar item */
}

.driver-card {
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 2px; /* Menambah margin agar ada jarak antar driver */
}

.driver-card img {
  width: 100%; /* Mengatur lebar gambar menjadi 100% agar menyesuaikan dengan lebar parent */
  max-width: 50px; /* Menyimpan gambar tetap kecil agar tidak melebihi lebar yang diinginkan */
  height: auto; /* Menjaga aspek rasio gambar */
}

.driver-card h3 {
  margin-bottom: 2px;
  font-size: 10px;  
}

.driver-card p {
  margin-bottom: 0;
}

/* Food Menu */
.food-menu {
  margin-bottom: 20px;
}

.food-menu h2 {
  margin-bottom: 10px;
}

.filter-bar {
  margin-bottom: 10px;
}

.filter-bar select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Menu Grid */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Menggunakan 6 kolom dengan lebar yang fleksibel */
  grid-gap: 10px; /* Adjust as needed */
}

/* Menu Item */
.menu-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.menu-item img {
  max-width: 100%; /* Ensuring the image does not exceed its container */
  height: auto; /* Maintaining aspect ratio */
  border-radius: 5px;
  margin-bottom: 5px; /* Adjust as needed */
}

.menu-item h3 {
  margin-bottom: 5px;
  font-size: 16px; /* Adjust as needed */
}

.menu-item p {
  margin-bottom: 0;
  font-size: 14px; /* Adjust as needed */
}/* Footer */
footer {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}
